{% extends 'template.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
  <h2>Accueil</h2>
{% endblock %}

{% block javascripts %}
  <script src="{{asset('js/layer.js')}}"></script>
{% endblock %}
